################################################################################
#
#    Licensed to the Apache Software Foundation (ASF) under one or more
#    contributor license agreements.  See the NOTICE file distributed with
#    this work for additional information regarding copyright ownership.
#    The ASF licenses this file to You under the Apache License, Version 2.0
#    (the "License"); you may not use this file except in compliance with
#    the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
#
################################################################################

# Default configuration does NOT require log in; THIS SHOULD BE CHANGED if on a public endpoint
brooklyn.webconsole.security.provider = org.apache.brooklyn.rest.security.provider.AnyoneSecurityProvider

# One alternative to the above (comment out the provider above and uncomment this) 
# is to allow any localhost access and create a password for other usage
#brooklyn.webconsole.security.provider = org.apache.brooklyn.rest.security.provider.BrooklynUserWithRandomPasswordSecurityProvider

# Or to set a password and user, or multiple ones, comment the provider above out and uncomment the two lines below
#brooklyn.webconsole.security.users=admin
#brooklyn.webconsole.security.user.admin.password=password

# Can use a login form rather than browser auth
#brooklyn.webconsole.security.unauthenticated.endpoints=brooklyn-ui-login
#brooklyn.webconsole.security.login.form=brooklyn-ui-login

# Refer to the documentation for other auth settings, including LDAP, and other settings

# Default initializers to automatically add to any application deployed with Brooklyn
# This expect a comma separated list of initializer class names
brooklyn.deployment.initializers=org.apache.brooklyn.core.effector.AddDeploySensorsInitializer

